<a href="https://colab.research.google.com/github/GENNYB7/AvgHeight/blob/main/Average_Height.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
avgheight = pd.read_csv('/content/drive/MyDrive/Coding_Dojo/PandasForDataManipulation/athleteEventsNoPersonal.csv')
avgheight.head()

In [6]:
avgheight.groupby(['ID', 'Year'])[['Height']].mean()

             Height
ID     Year
5      1988   185.0
       1992   185.0
       1994   185.0
6      1992   188.0
       1994   188.0
...             ...
135567 2000   183.0
       2004   183.0
135570 2014   176.0
135571 1998   185.0
       2002   185.0

[28189 rows x 1 columns]